[Unit]
Description=PTP Observatory Backend
After=network.target

[Service]
WorkingDirectory=/opt/pi5-ptp-grandmaster/backend
ExecStart=/opt/pi5-ptp-grandmaster/backend/venv/bin/python app.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
